<template>
    <div class="plugins">
        <div class="row">
            <div
                v-for="result in results.data"
                class="plugins__item col-lg-4 col-md-6 col-sm-12"
            >
                <div class="card">
                    <h3 class="card-header">{{ result.name }}</h3>
                    <div class="card-body">
                        {{ result.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                results: []
            };
        },
        mounted() {
            axios.get('/api/plugins').then(response => {
                this.results = response.data
            })
        }
    }
</script>
