<template>
    <div>
        <input class="form-control" type="text" v-model.lazy="keywords" v-debounce="500" placeholder="Type and wait!">
        <div></div>
        <ul v-if="results.length > 0">
            <li v-for="result in results" :key="result.id" v-text="result.name"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                keywords: null,
                results: []
            };
        },

        watch: {
            keywords(after, before) {
                this.fetch();
            }
        },

        methods: {
            fetch() {
                axios.get('/api/plugins', { params: { keywords: this.keywords } })
                    .then(response => this.results = response.data.data)
                    .catch(error => {});
            }
        }
    }
</script>
