// Dashboard Styles

.profile-picture {
  max-height:90px;
}

.plugins {

}

.plugins__item {
    .card {
    }
    .card-header {
        font-family: 'Catamaran', sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        color: #48b8d0;
    }
}

.border-top-sea {
    border-top: 2px solid #48b8d0;
}

.border-bottom-sea {
    border-bottom: 2px solid #48b8d0;
}

.footer {
    color: $white;
    background-color: #2c707f;
}
